<!DOCTYPE html>
<html>
{include file="common/head"}
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">网站设置</a>
        <a>
          <cite>执行sql语句</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <blockquote class="layui-elem-quote layui-text">
        <a>危险！危险！！危险！！！</a>此处直接对数据库进行操作，请谨慎操作！！！如有失误可能造成不可修复的错误
    </blockquote>
    <form action="" method="post" class="layui-form layui-form-pane">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
                sql语句
            </label>
            <div class="layui-input-text">
                <textarea placeholder="请输入sql语句" name="sql" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="add">执行</button>
        </div>
    </form>
</div>
</body>
</html>