<!DOCTYPE html>
<html>
{include file="common/head"}
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">网站设置</a>
        <a>
          <cite>系统设置</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <form action="" method="post" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                SEO位置
            </label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$find.name}" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="seo_title" class="layui-form-label">
                SEO标题
            </label>
            <div class="layui-input-block">
                <input type="text" id="seo_title" name="seo_title" autocomplete="off" class="layui-input" value="{$find.seo_title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="seo_keywords" class="layui-form-label">
                SEO关键词
            </label>
            <div class="layui-input-block">
                <input type="text" id="seo_keywords" name="seo_keywords" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$find.seo_keywords}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="seo_desc" class="layui-form-label">
                SEO描述
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="seo_desc" name="seo_desc" class="layui-textarea">{$find.seo_desc}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="add">修改</button>
        </div>
    </form>
</div>
</body>

</html>